.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  padding: 20px;
  background-color: rgb(213, 211, 211);
}
.description {
  display: block;
  text-align: center;
}
.avatar {
  max-height: 20%;
  border-radius: 50%;
}
.stats {
  display: flex;
}
.stats li {
  display: block;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid black;
}
.label {
  display: block;
  font-size: large;
  margin-top: 10px;
}
.quantity {
  display: block;
  font-size: large;
  margin-top: 10px;
}
